<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/reset.css" rel="stylesheet" />ç
    <link href="/global.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />
  </head>
  <script>
    function getUserProfile() {
      // p태그에서 사용자 이름 가져오기
      var userName = document.getElementById("post_user_name").innerText;

      // URL 구성
      var url = "/user/profile?userName=" + encodeURIComponent(userName);
      console.log(url);
      window.location.href = url;

    }

    function getMyProfile() {
      // p태그에서 사용자 이름 가져오기
      var userName = document.getElementById("my_name").innerText;

      // URL 구성
      var url = "/user/profile?userName=" + encodeURIComponent(userName);
      console.log(url);
      window.location.href = url;

    }

    function copyTextToClipboard(text) {
      navigator.clipboard.writeText(text).then(() => {
        alert("피드 주소가 복사되었습니다");
      }, (err) => {
        console.error("Failed to copy text: ", err);
      });
    }

  </script>
  <body>
    <div class="container">
      <header class="header">
        <a href="/"><img src="/img/signiture.svg" /></a>
        <ul class="header__menu">
          <li class="header__menu__item">
            <!--[DYNAMIC]REPLACE-IMG-SRC:NAME=USER_PROFILE-->
            <img class="post__account__img" />
          </li>
          <li class="header__menu__item" id="my_name">
          <!--[DYNAMIC]INSERT:NAME=USER_NAME-->
          </li>
          <li class="header__menu__item">
            <a class="post" href="/user/bookmark_list">
              <img class="post__account__img" src="/img/bookmark_signiture.png" />
            </a>
          </li>
          <li class="header__menu__item">
            <a class="btn btn_contained btn_size_s" href="/feed">피드 만들기</a>
          </li>
          <li class="header__menu__item">
            <a class="btn btn_green btn_size_s" onclick=getMyProfile()>내 프로필</a>
          </li>
          <li class="header__menu__item">
            <a class="btn btn_ghost btn_size_s" href="/user/logout">로그아웃</a>
          </li>
        </ul>
      </header>
      <div class="wrapper">
        <div class="post">
          <a class="btn btn_ghost btn_user_profile" id="getUserProfileBtn" onclick="getUserProfile()" >
            <!--[DYNAMIC]REPLACE-IMG-SRC:NAME=POST_USER_PROFILE-->
            <img class="post__account__img" />
            <p class="post__account__nickname" id="post_user_name">
              <!--[DYNAMIC]INSERT:NAME=POST_USER_NAME-->
            </p>
          </a>
          <!--[DYNAMIC]INSERT-FEED-IMG:NAME=FEED_IMG-->
          <div class="post__menu">
            <ul class="post__menu__personal">
              <li>
                <!--[DYNAMIC]REPLACE-HREF:NAME=LIKE_BUTTON-->
                <a class="btn post__menu__btn" id="likeButton" href="">
                  <!--[DYNAMIC]REPLACE-IMG-SRC:NAME=LIKE_PRESS_IMG-->
                  <img src="/img/like.svg" />
                </a>
              </li>
              <li>
                <a class="btn post__menu__btn" onclick="copyTextToClipboard(
                        <!--[DYNAMIC]INSERT:NAME=FEED_IDX-->
                        )">
                  <img src="/img/sendLink.svg" />
                </a>
              </li>
            </ul>
            <!--[DYNAMIC]REPLACE-HREF:NAME=BOOKMARK_BTN-->
            <a class="btn post__menu__btn" id="bookMarkBtn" href="">
              <!--[DYNAMIC]REPLACE-IMG-SRC:NAME=BOOKMARK_PRESS_IMG-->
              <img src="/img/bookMark.svg" />
            </a>
          </div>
          <!--[DYNAMIC]INSERT-ARTICLE:NAME=CONTENT-->
        <ul class="comment">
        <!--[DYNAMIC]INSERT-COMMENT:NAME=COMMENT-->
        </ul>
        <nav class="nav">
          <ul class="nav__menu">
            <li class="nav__menu__item">
              <!--[DYNAMIC]REPLACE-HREF:NAME=PREV_PAGE-->
              <a class="nav__menu__item__btn" href="">
                <img
                  class="nav__menu__item__img"
                  src="/img/ci_chevron-left.svg"
                />
                이전 글
              </a>
            </li>
            <li class="nav__menu__item">
              <!--[DYNAMIC]REPLACE-HREF:NAME=COMMENT_BY_FEED-->
              <a class="btn btn_ghost btn_size_m" href="/feed/comment">
                댓글 작성
              </a>
            </li>
            <li class="nav__menu__item">
              <!--[DYNAMIC]REPLACE-HREF:NAME=NEXT_PAGE-->
              <a class="nav__menu__item__btn" href="">
                다음 글
                <img
                  class="nav__menu__item__img"
                  src="/img/ci_chevron-right.svg"
                />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
